<mat-card class="flex spaced">
  <div>
    <h4>Select a Graph</h4>
    <mat-form-field appearance="fill" class="cent">
      <mat-label>Choose one</mat-label>
      <mat-select
        [(ngModel)]="selectedGraph"
      >
        <mat-option *ngFor="let g of graphsList$ | async" [value]="g">{{ g }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="center">
    <button mat-raised-button color="primary" (click)="loadGraph(selectedGraph)">Load Graph</button>
  </div>

</mat-card>

