.link-list {
  display: flex;
  flex-direction: column;
  button {
    width: 200px;
    margin: 0.4em;
    padding: 0.5em 1.2em;
    color: rgba(0, 0, 0, .87);
    display: flex;

    &:hover {
      color: rgba(0, 0, 0, 1);
    }

  }

  button.active {
    background: #3F51B5;
    color: rgba(255, 255, 255, .87);
    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}
