<h2>Graph explorer</h2>
<div id="about-dev">
  <h3>Difficulties during development</h3>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi cumque distinctio doloremque eos et,
    facilis incidunt inventore, ipsum neque nesciunt nihil numquam odio quo quod, reprehenderit repudiandae voluptas
    voluptates.
  </div>
  <div>Assumenda blanditiis consectetur dignissimos ea eos est, exercitationem fuga illum modi neque nisi numquam
    pariatur placeat quo reiciendis sed tenetur vitae. Aut consequuntur ducimus, explicabo facere ipsa quos vero
    voluptates!
  </div>
  <div>Accusantium architecto, blanditiis deserunt earum eveniet explicabo itaque magni numquam, quae quasi, quis
    sapiente? Assumenda blanditiis dolorem, eligendi ex expedita fugiat in minima numquam odit omnis provident quam
    quidem sunt!
  </div>
  <div>Asperiores, aspernatur dicta dignissimos distinctio eligendi est et eum fugit in inventore labore, maiores minima
    mollitia nesciunt non nulla, odio officia praesentium quas repellendus sapiente sed tempora ullam ut veniam!
  </div>
  <div>Accusamus alias aperiam architecto asperiores aut, distinctio doloremque est harum iusto magni molestias
    necessitatibus neque nihil numquam omnis perferendis quis recusandae sunt! Ab atque consequuntur possimus ratione
    repellat rerum sequi.
  </div>
</div>
<div id="about-author">
  <h3>About author</h3>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi cumque distinctio doloremque eos et,
    facilis incidunt inventore, ipsum neque nesciunt nihil numquam odio quo quod, reprehenderit repudiandae voluptas
    voluptates.
  </div>
  <div>Assumenda blanditiis consectetur dignissimos ea eos est, exercitationem fuga illum modi neque nisi numquam
    pariatur placeat quo reiciendis sed tenetur vitae. Aut consequuntur ducimus, explicabo facere ipsa quos vero
    voluptates!
  </div>
  <div>Accusantium architecto, blanditiis deserunt earum eveniet explicabo itaque magni numquam, quae quasi, quis
    sapiente? Assumenda blanditiis dolorem, eligendi ex expedita fugiat in minima numquam odit omnis provident quam
    quidem sunt!
  </div>
  <div>Asperiores, aspernatur dicta dignissimos distinctio eligendi est et eum fugit in inventore labore, maiores minima
    mollitia nesciunt non nulla, odio officia praesentium quas repellendus sapiente sed tempora ullam ut veniam!
  </div>
  <div>Accusamus alias aperiam architecto asperiores aut, distinctio doloremque est harum iusto magni molestias
    necessitatibus neque nihil numquam omnis perferendis quis recusandae sunt! Ab atque consequuntur possimus ratione
    repellat rerum sequi.
  </div>
</div>
<div id="why">
  <h3>Why this project exists</h3>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi cumque distinctio doloremque eos et,
    facilis incidunt inventore, ipsum neque nesciunt nihil numquam odio quo quod, reprehenderit repudiandae voluptas
    voluptates.
  </div>
  <div>Assumenda blanditiis consectetur dignissimos ea eos est, exercitationem fuga illum modi neque nisi numquam
    pariatur placeat quo reiciendis sed tenetur vitae. Aut consequuntur ducimus, explicabo facere ipsa quos vero
    voluptates!
  </div>
  <div>Accusantium architecto, blanditiis deserunt earum eveniet explicabo itaque magni numquam, quae quasi, quis
    sapiente? Assumenda blanditiis dolorem, eligendi ex expedita fugiat in minima numquam odit omnis provident quam
    quidem sunt!
  </div>
  <div>Asperiores, aspernatur dicta dignissimos distinctio eligendi est et eum fugit in inventore labore, maiores minima
    mollitia nesciunt non nulla, odio officia praesentium quas repellendus sapiente sed tempora ullam ut veniam!
  </div>
  <div>Accusamus alias aperiam architecto asperiores aut, distinctio doloremque est harum iusto magni molestias
    necessitatibus neque nihil numquam omnis perferendis quis recusandae sunt! Ab atque consequuntur possimus ratione
    repellat rerum sequi.
  </div>
</div>

<div class="toDelete">
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam delectus deleniti dolor dolore dolores eius
    eligendi esse laborum natus nemo nesciunt, obcaecati pariatur quaerat quas qui quisquam ratione, repellat suscipit!
  </div>
  <div>Alias autem iste nam officiis quam quidem, similique soluta? Amet architecto corporis dignissimos dolorum est
    fugit incidunt iure maxime minus, necessitatibus neque, numquam odio, praesentium quia ullam unde voluptas
    voluptate!
  </div>
  <div>Amet beatae commodi consequuntur cumque ex excepturi in minima modi mollitia natus nihil, perspiciatis
    praesentium provident quibusdam, quidem quos recusandae reiciendis sed sequi similique suscipit totam ullam vel vero
    voluptatum.
  </div>
  <div>Adipisci aliquid assumenda blanditiis distinctio dolor dolores enim expedita impedit magni minima officiis omnis,
    praesentium quasi recusandae repudiandae sed similique, suscipit tenetur, vitae voluptate. Architecto eum iste
    maiores odio quisquam.
  </div>
  <div>A animi debitis deleniti deserunt, eligendi excepturi facere in laboriosam laudantium magnam minima minus
    molestiae molestias nam necessitatibus quasi quia quibusdam quidem ratione similique sint tempora ullam ut veniam
    vitae.
  </div>
  <div>Corporis ducimus eum ex excepturi ipsam praesentium sed sint sunt. Commodi id laboriosam libero nisi officia.
    Ducimus inventore mollitia nobis omnis optio porro quod. Aperiam id illum incidunt magnam nisi!
  </div>
  <div>Consequuntur distinctio dolore iste placeat quo, quod sed voluptatum? Accusantium deserunt dignissimos,
    distinctio expedita ipsa maxime natus non obcaecati, quas quia reiciendis repellendus temporibus tenetur unde ut vel
    voluptatum. Non.
  </div>
  <div>Debitis doloremque expedita in, quibusdam temporibus voluptatum? Alias eius est hic nisi perspiciatis recusandae
    repellat repudiandae saepe sequi voluptas. Doloribus esse ex quos repellendus tempore voluptatem. Alias beatae
    blanditiis rerum?
  </div>
  <div>Ab ad amet asperiores aut beatae commodi, cum cupiditate deserunt distinctio dolorem explicabo hic, itaque labore
    laborum minima minus molestiae mollitia, necessitatibus praesentium provident quaerat repellendus unde voluptates!
    Nam, officia.
  </div>
  <div>Adipisci aliquam at atque corporis cupiditate delectus dolor ipsam, natus odit perferendis provident reiciendis
    reprehenderit sapiente tempore unde velit, voluptates. Asperiores, culpa dicta ex ipsum labore nihil placeat quod
    veniam!
  </div>
</div>
